body {
	margin: 0;
}
#main {
	
}
.title {
	position: absolute;
	text-align: center;
	max-width: 400px;
	top: 40px;
	left: 0; right: 0;
	font-size: 4em;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	color: white;
	z-index: 1;
}
.topwrap {
	min-width: 800px;
	max-width: 800px;
	position: relative;
	margin: auto;
}
.header {
	background-color: #809878;
	height: 300px;
	position: relative;
}
.banner {
	position: absolute;
	width: 436px;
    height: 300px;
    left: 400px; right: 0;
    top: -40px;
    /*opacity: .8;*/
}
.bottomwrap {
	font-family: 'Open Sans', sans-serif;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	padding-left:40px; padding-right:40px;
}
.intro {
	margin: 30px;
	margin-left: auto; margin-right: auto;
	max-width:850px;
	min-width:750px;
}
.introleft {
	float: left;
	width:420px;
}
.introleft li {
	max-width:400px;
}
.introright {
	float: right;
	position: relative;
	right:5%;
	/*margin-left:1%;*/
	/*padding-left:7px; padding-right:4px;*/
	padding-left:6px; padding-right:6px;
	padding-top: 8px; padding-bottom:8px;
	width: 255px;
	border-style: solid;
	border-width: 3px;
	border-color: #809878;
	border-radius: 4px;
	font-size:.9em;
	/*text-align: justify;*/
}
form {
	clear: both;
}
input, label {
	display: block;
}
.inline {
	display: inline-block;
}
td, th {
	max-width: 300px;
	min-width: 100px;
}