body {
	margin: 0;
}
#main {
	
}
.title {
	position: absolute;
	text-align: center;
	min-width: 500px;
	top: 40px;
	margin: auto;
	left: 0; right: 0;
	font-size: 4em;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	color: white;
	z-index: 1;
}
.header {
	background-color: #809878;
	height: 350px;
	min-width: 600px;
}
.banner {
	position: absolute;
	width: 436px;
    height: 300px;
    left: 0; right: 0;
    margin: auto;
    top: 0px;
    opacity: .8;
}
.intro {
	margin: 30px;
}

input, label {
	display: block;
}
.inline {
	display: inline-block;
}
td, th {
	max-width: 300px;
	min-width: 100px;
}