body {
	margin: 0;
}
#main {
	
}
.title {
	position: absolute;
	text-align: center;
	max-width: 400px;
	top: 40px;
	left: 0; right: 0;
	font-size: 4em;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	color: white;
	z-index: 1;
}
.topwrap {
	min-width: 800px;
	max-width: 800px;
	position: relative;
	margin: auto;
}
.header {
	background-color: #809878;
	height: 300px;
	position: relative;
}
.banner {
	position: absolute;
	width: 436px;
    height: 300px;
    left: 400px; right: 0;
    top: -40px;
    /*opacity: .8;*/
}
.bottomwrap {
	margin-left:40px; margin-right:40px;
}
.intro {
	margin: 30px;
}

input, label {
	display: block;
}
.inline {
	display: inline-block;
}
td, th {
	max-width: 300px;
	min-width: 100px;
}